

<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
      <div class="logo">
          <a href="javascript:;" (click)="this.menuClickHandler('admin/dashboard');" class="simple-text">
              ACMS
          </a>
      </div>
      <ul class="nav">
          <li class="nav-item" [class.active]="isActive('admin/dashboard')" >
              <a class="nav-link" href="javascript:;" (click)="this.menuClickHandler('admin/dashboard');">
                  <i class="nc-icon nc-chart-pie-35"></i>
                  <p>Dashboard</p>
              </a>
          </li>
          <li class="nav-item" [class.active]="isActive('admin/user') || isActive('admin/user/add-user')">
            <a class="nav-link" (click)="this.menuClickHandler('admin/user');">
                  <i class="nc-icon nc-circle-09"></i>
                  <p>Manage Users</p>
              </a>
          </li>
          <li class="nav-item" [class.active]="isActive('admin/banner') || isActive('admin/banner/add-banner') || isActive('/banner/edit-banner/?')">
            <a class="nav-link" (click)="this.menuClickHandler('admin/banner');">
                  <i class="nc-icon nc-album-2"></i>
                  <p>Manage Banners</p>
              </a>
          </li>
          
      </ul>
  </div>
</div>