<div class="wrapper">
  
    <app-user-sidebar></app-user-sidebar>
    <div class="main-panel">
      <app-user-header></app-user-header>
    
    <div class="content">
        <div class="container-fluid">
            <!--<app-admin-content></app-admin-content>-->
            <router-outlet></router-outlet>
          </div>
      </div>
    <app-user-footer></app-user-footer>
    </div>
  </div>
  
  
  
