<div class="row">
  <div class="col-md-8">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Access Denied</h4>
          </div>
          <div class="card-body">
              <img  src="../assets/img/403-access.png" alt="...">
            </div>
          </div>
      </div>
