

<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
      <div class="logo">
          <a href="javascript:;" (click)="this.menuClickHandler('profile');"  class="simple-text">
              ACMS
          </a>
      </div>
      <ul class="nav">
          <li class="nav-item" [class.active]="isActive('/profile')" >
            <a class="nav-link" href="javascript:;" (click)="this.menuClickHandler('profile');">
                  <i class="nc-icon nc-circle-09"></i>
                  <p>User Profile</p>
              </a>
          </li>
          
      </ul>
  </div>
</div>