<div class="wrapper">
  
  <app-admin-sidebar></app-admin-sidebar>
  <div class="main-panel">
    <app-admin-header></app-admin-header>
  
  <div class="content">
      <div class="container-fluid">
          <!--<app-admin-content></app-admin-content>-->
          <router-outlet></router-outlet>
        </div>
    </div>
  <app-admin-footer></app-admin-footer>
  </div>
</div>


